@import url(http://fonts.googleapis.com/css?family=EB+Garamond);

body {
    font-family: 'EB Garamond', serif;
    font-size: 16px;
}

h3, h4 {
    font-weight: normal;
    font-size: 18px;
}

#header-wrap {
    text-align: center;
}

#header {
    color: #002a41;
    text-transform: uppercase;
}

a, a:visited, a:link, a:hover, a:focus, a:active {
    color: #002a41;
    text-decoration: none;
    cursor: pointer;
}

div.party {
    display: inline-block;
    width: 200px;
    text-align: center;
}

div.engaged {
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    padding: 0 50px;
}

div.engaged img {
    display: block;
    margin: 0 auto;
}

img.header {
    display: block;
    padding-top: 25px;
    margin: 0 auto;
}

div.quote-wrapper {
    display: inline-block;
    width: 150px;
    text-align: center;
}

div.quote-wrapper img {
    display: block;
    margin: 0 auto;
}

div.section {
    border-bottom: 3px orange dashed;
    text-align: center;
    position: relative;
}

div.section:last-of-type {
    border: none;
}

div.column {
    display: inline-block;
    width: 300px;;
}

img.store {
    padding: 0 10px;
}

div.links {
    position: absolute;
    top: 0;
    left: 0;
}

#map {
    position: relative;
}

img.desc {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}