body {
  font-family: 'EB Garamond',  serif;
  font-size: 11pt;
	line-height:16pt;
	letter-spacing:1px;
	color:#002941;
  margin-bottom: 0px;
}

h3 {
    font-family: 'EB Garamond',  serif;
    font-size: 10pt;
	font-weight:400;
	letter-spacing:4px;
}

p {
	margin-top:-5px;
}

a.nav {
    font-family: 'EB Garamond',  serif;
    font-size: 10pt;
	line-height:16pt;
	letter-spacing:1px;
	color:#002941;
}

span.sep {
    font-family: 'EB Garamond',  serif;
    font-size: 10pt;
	line-height:16pt;
	letter-spacing:1px;
	color:#c3942f;
}


#header-wrap {
    text-align: center;
}

#header {
    color: #002941;
    text-transform: uppercase;
}

a {
	text-decoration: none;
	color: #002941;
}
a:hover {
	text-decoration: none;
	color: #c3942f;
}


div.party {
	display: inline-block;
	width: 210px;
	text-align:center;
	vertical-align:top;
	padding-left:10px;
	padding-right:10px;
}

div.engaged {
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    padding: 0 50px;
}

div.proposal {
    width: 800px;
    text-align: center;
    display: inline-block;
    padding: 0 50px;
}

div.engaged img {
    display: block;
    margin: 0 auto;
}

img.header {
    display: block;
    padding-top: 25px;
    margin: 0 auto;
}

div.quote-wrapper {
    display: inline-block;
    width: 180px;
	padding-left:10px;
	padding-right:10px;
    text-align: center;
	vertical-align:top;
}

div.quote-wrapper img {
    display: block;
    margin: 0 auto;
}

div.section {
    border-bottom:1px #c3942f dashed;
    text-align:center;
    position: relative;
	vertical-align:top;
	padding:15px;
	padding-bottom:20px;
}

div.section:last-of-type {
    border: none;
}

div.column {
    display: inline-block;
    width: 300px;
	vertical-align:top;
	padding-left:25px;
	padding-right:25px;
}

img.store {
    padding: 0 10px;
}

div.links {
    position: absolute;
    top: 0;
    left: 0;
}

#map {
    position: relative;
	font-size: 10pt;
}

img.desc {
 display: none;
}

img.gallery.hidden {
  display: none;
}

#we-do {
  padding-bottom: 0px;
}

#joet-desc {
	position:absolute;
	left: 568px;
	top:140px;
}

#club-desc {
	position:absolute;
	left: 305px;
	top:300px;
}

#church-desc {
	position:absolute;
	left: 302px;
	top: 512px;
}

